.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.hero__image {
  background-image: url(/public/images/blob.svg);
  background-size: contain;
  height: 300px;
  margin: auto;
  border-bottom-left-radius: 50%;
  transition: 1s;
}

.hero__image:hover {
  background-position-x: 10px;
  background-position-y: -50px;
}
